  <div class="bg-tower w-full h-full bg-no-repeat bg-left bg-cover"> 
    <div class="min-h-screen text-gray-800 antialiased px-4 py-6 flex flex-col justify-center sm:py-12">
        <div class="relative py-3 sm:max-w-xl mx-auto text-center">
                <span class="text-3xl font-bold text-gray-800">The Flight's Log</span>
                <div class="relative mt-4 bg-white shadow-md sm:rounded-lg text-left">
                    <div class="h-2 bg-green-600 rounded-t-md"></div>
                    <div class="py-6 px-8">
                        <label class="block font-semibold">Email<label>
                        <input value="" type="text" placeholder="Email" id="email" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-yellow-600 rounded-md">
                        <label class="block mt-3 font-semibold">Password<label>
                        <input value="" type="password" placeholder="Password" id="password" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-yellow-600 rounded-md">
                        <div class="flex justify-between items-baseline">
                        <button type="submit" id="loginButton" class="mt-4 bg-yellow-600 text-white py-2 px-6 rounded-lg">Login</button>
                        <a href="/forgotPassword" class="text-sm hover:underline">Forgot password?</a><br> 
                        <a href="/signUp" id="signupLink" class="text-sm hover:underline">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                  
        
<script src= "/javascript/login.js"></script>


